<html>
<head>
    <title> Play! </title>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.min.js'></script>
<script type='text/javascript' src='static/underscore.js'></script>
<script type='text/javascript' src='static/backbone.js'></script>
<script type='text/javascript' src='static/piano.js'></script>
<script type='text/javascript'>
$(function() {
    // Load the client side app
    var app = new PianoApp({el: $("#app")});
});
</script>
<style type='text/css'>
#chords {
    margin: 2em;
    margin-top: 10em;
    width: 800px;
}
#chords div {
    float: left;
}

#chords span {
    margin: 1em;
    padding: 1em;
}

#graph { margin: 0; }
#graph div { float: left; }

#display {
    clear: both;
    padding: 1em;
    position: relative;
}

#display img {
    position: absolute;
}

body { margin: 0; }
</style>
</head>
<body id="app">

<div id="graph"></div>

<div id='display'></div>

<div id="chords"></div>
<div style='clear: both;'></div>

<select id="categories"></select>

<div id="images"></div>
<canvas id='picCanvas'></canvas>

</body>
</html>
