<html>
<head>
    <title> Play! </title>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.min.js'></script>
<script type='text/javascript' src='static/underscore.js'></script>
<script type='text/javascript' src='static/backbone.js'></script>
<script type='text/javascript' src='static/piano.js'></script>
<script type='text/javascript'>
$(function() {
    // Load the client side app
    var app = new PianoApp({el: $("#app")});
});
</script>
<link rel='stylesheet' href='static/notreallypretty.css'></link>
</head>
<body id="app">

<div id="graph"></div>

<div id='display'></div>

<div id="chords"></div>
<div style='clear: both;'></div>

<select id="categories"></select>

<div id="images"></div>
<canvas id='picCanvas'></canvas>

</body>
</html>
