body { 
    margin: 0; 
    background: url('images/bg.png');
}

.appWrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#chords {
    position: absolute;
    bottom: 0;
    margin-left: 250px;
    width: auto;
}

#chords div {
    display: inline-block;
    padding: 1em;
    height: 180px;
    width: 56px;
    -webkit-box-shadow: -3px -3px 8px #000;
}

#chords div span {
    font-size: 0.8em;
    color: #aaa;
    overflow: hidden;
    text-align: centaur;
}

#graph { 
    margin: 0; 
    width: 900px;
    height: 20px;
    overflow: hidden;
}

#graph div { 
    float: left; 
    height: 20px;
    width: 20px;
}

#display {
    clear: both;
    padding: 1em;
    position: relative;
}

#display img {
    position: absolute;
}

#controls {
    position: absolute;
    padding: 1em;
    height: 180px;
    width: 99%;
    bottom: 0;
    left: 0;
    background: url('images/controls-bg.png');
}

#controls #tuning {
    width: 150px;
}

#controls #tuning h3 {
    font-size: 1.0em;
    margin: 0;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    font-style: italic;
}

#controls #tuning h3.first {
    margin-top: 0;
}

#images {
    position:absolute;
    bottom: -500px;
    visibility: hidden;
}

#picCanvas {
    display: none;
}
